/* White Devil @ Devilshalani css3 stylesheet */
@import url('../assets/style.css');
@import url('../assets/lobstar/style.css');
@import url('../assets/poppins/style.css');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body
{
	height: 100vh;
	overflow: hidden;
	background: #dde1e7;
}
.container
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.container .background
{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.container .background span
{
	top: 0;
	position: absolute;
	pointer-events: none;
	transform: scale(0) translateY(-10vh) rotate(0deg);
	background: #000;
	animation: flayFlag 15s ease-in-out infinite;
	animation-delay: -1s;
}
.container .contentBx
{
	position: absolute;
	z-index: 8;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .contentBx .textBx
{
	top: 40%;
	left: 50%;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}
.container .contentBx h1
{
	position: relative;
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 3em;
	color: #000;
}
.container .contentBx h1 .curser
{
	position: absolute;
	width: 4px;
	height: 100%;
	border-radius: 20px;
	background: #e82020;
	animation: blinkCurser .5s ease-out infinite;
}
.container .contentBx .clockBx
{
	display: flex;
	padding: 20px;
}
.container .contentBx .clockBx .card
{
	margin: 20px;
	padding: 10px;
	width: 110px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #dde1e7;
	border-radius: 50%;
	box-shadow: -10px -10px 20px rgba(255, 255, 255, .8),
				10px 10px 15px rgba(0, 0, 0, .1),
				inset -10px -10px 20px rgba(255, 255, 255, .5),
				inset 10px 10px 15px rgba(0, 0, 0, .1);
    background: #dfe1e7;
}
.container .contentBx .clockBx .card h1
{
	text-align: center;
	text-transform: capitalize;
	font-weight: 800;
	font-size: 2.5em;
	color: #000;
}
.container .contentBx .clockBx .card h3
{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: .7em;
	color: #000;
}

@keyframes blinkCurser {
	0%, 20%, 80.1%, 100% {
		opacity: 0;
	}
	20.1%, 80% {
		opacity: 1;
	}
}

@keyframes flayFlag {
	0% {
		opacity: 0;
		transform: scale(.1) translateY(-10vh) rotate(0deg);
	}
	5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(140vh) rotate(var(--r));
	}
}